certifi
cycler
Cython
joblib
matplotlib
numpy
opencv-python
Pillow
pyparsing
python-dateutil
scikit-learn
scipy
six
sklearn
tqdm
scikit-image
webcolors
PyYAML
Click
Shapely-1.7.0-cp36-cp36m-manylinux1_x86_64.whl